
<main aria-labelledby="title">
    
    <h3>NAUSHAD ALI</h3>

    <address>
        CDAC ACTS Pune<br />
        WA 981286-8274<br />
        <abbr title="Phone">P:</abbr>
        9812868274
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:naushada242@gmail.com">Naushada242@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Demo123@gmail.com</a>
    </address>
</main>